body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fafafa;
    margin: 0;
    /* padding: ; */
}
#container{
    width: 100%;
    margin: 20px auto;
    padding: 20px 0 20px 0;
    background-color: #ffffff;
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header{
    text-align: center;
    background-color: #f1e5d6;
    padding: 10px;
    font-size: 1.2em;
}
.side-content{
    float: right;
    width: 30%;
    background-color: #d4ccc5;
    padding: 0 8px ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 5px;
    /* margin: 10px; */
}

#coffee-article{
    width: 68%;
    padding: 1%;
}
/* typological psudo element */
.headline::first-letter{
    color: #8b4513;
    font-size: 2em;
}
.intro p::first-letter{
    font-weight: bold;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 1px;
    font-size: 1.5em;
}   
.content p:first-of-type::first-line{
    background-color: yellow;
}