body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* width: 20px; */
    background-color: #f7eee5;
    margin: 0px;
    padding: 20px;
    /* font-style: italic; */
}

#recipy-card{
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 2px 15px rgba(0 , 0, 0, 0.2);
    border-radius: 10px;
}
.title{
    text-align: center;
    color: #704212;
    margin-bottom: 20px;
    font-size: 32px;
}

.image img{
    border-radius: 8px;
    margin-bottom: 20px;
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.time-container{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.ingredients , .steps-container{
    margin-bottom: 20px;

}

h3{
    color: #704241;
    font-size: 20px;
}

.note{
    text-align: center;
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

/* persudo element */

.title::before{
    content: "🎂";
}
.title::after{
    content: "🎂";
}
.ingredients li::marker{
    content: '🍽️';
    margin-right: 5px;
}
.note::before{
    content:"📝";
    font-weight: bold;
}